button:focus {
  outline:0 !important;
}

/* Calendar Row */
.rbc-month-row {
  padding-bottom: 563px !important;
  background: #252525;
}

.rbc-event {
  background: #252525 !important;
}

.rbc-event:active {
  background: #252525 !important;
}

.rbc-row-segment {
  /* background: #252525 !important; */
  /* border: 1px solid red; */
}

.rbc-row-bg {
  height: 444px !important;
  padding-bottom: 206px !important;
}

.rbc-today {
  height: 444px;
  background: #7c7c7c17 !important;
}

/* Calendar as a whole */
.rbc-calendar {
  /* width: 1400px; */
}

.rbc-day-bg {
  height: 444px;
  background: #252525;
}

.rbc-date-cell {
  background: #252525;
}

.rbc-date-cell a {
  color: white !important;
}
